body {
  font-family: 'Segoe UI', sans-serif;
  margin: 30px;
   color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 200px;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 6px;
  color: #000000;
}
.section {
  margin-top: 30px;
}
.section h3 {
  font-size: 18px;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 10px;
  
}
.section ul {
  list-style-type: square;
  margin-inline-start: 0%;
}

li,p {
  margin-top: 4px;
}